body
{
    background-color:lightskyblue;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-style: normal;
}

.copy_right_footer
{
    bottom: 0;
    line-height: 3;
    width: 100%;
    position: fixed;
    background-color: lightblue;
    text-align: center;
    font-size: 18px;
}

.header_div 
{
    background-color: rgb(80, 196, 242);
    color: white;
}